DUNE_API_KEY=
DUNE_QUERY_ID=
DUNE_PERFORMANCE=medium
DUNE_CREATE_QUERY=false
DUNE_HISTORICAL_START=2025-10-10
DUNE_WINDOW_DAYS=7
DUNE_REFRESH_LOOKBACK_DAYS=2
DUNE_SYNC_UPLOAD=false
DUNE_UPLOAD_NAMESPACE=
DUNE_UPLOAD_TABLE=sunrise_tokens_dex_volume_daily
DUNE_UPLOAD_PRIVATE=false
